.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

.top-container-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.error-message {
  color: red;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.2rem;
  text-align: center;
}
